*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    outline: none;
}
a:active{
    color: #FFF;
}
a:visited{
    color: #FFF;
}
body{
    background: #28344D;
    width: 100%;
    font-family: Georgia,Arial,serif;
    color: #FFF;
}
img{
    max-width: 100%;
    height: auto;
}
header{
    display: inline-block;
    width: 100%;
}
ul li{
    list-style: none;
    text-align: center;
}
.centerAllContent{
    margin-left: auto;
    margin-right: auto;
    background: #444C5C;
    width: 60%;
}
.topNav{
    background: #28344D;
}
.firstColumn {
   vertical-align: middle;
    width: 35%;
    display: inline-block;
}
.secondColumn{
    width: 40%;
    vertical-align: middle;
    display: inline-block;
    text-align: right;
}
.secondColumn a{
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #28344D;
    background-color: #363F51;

}
.secondColumn a:hover{
    background-color: #28344D;
    border:solid 1px #363F51;
}
.thirdColumn{
    width: 24%;
    display: inline-block;
    text-align: right;
}
.thirdColumn ul li{
    margin-left: 3%;
    display: inline;
    font-size: 1.2em;
}
.thirdColumn a:hover{
    text-decoration: underline;
}
.menu{
    background: #636779;
    --background: #444C5C;
    padding: .1%;
}
.menu ul{
    margin-left: 10%;
}
.menu ul li{
    display: inline-block;
    vertical-align: middle;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1%;
    font-size: 1.2em;
    --margin: 3%;
    text-align: center;
}
.menu ul li a{
    padding: 15px;
    --padding-right: 15%;
    border-radius: 10%;
    background: #363F51;
    border: solid 1px #28344D;
    color: white;
}
.menu ul li a:hover{
    background: #28344D;
    border: solid 1px #363F51;
}

.contentAlignMiddle{
    vertical-align: middle;
}
.title{
    font-size: 2em;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}
.services{
    text-align: center;
}
.dangerousResidues{
    width: 30%;
    display: inline-block;
    cursor: pointer;
}
.specialResidues{
    width: 30%;
    display: inline-block;
    cursor: pointer;
}
.urbanResidues{
    width: 30%;
    display: inline-block;
    cursor: pointer;
}
.imageDescription{
    padding: 15px;
    font-size: 1.1em;
    font-weight: bold;
}
.services img{
    border-radius: 50%;
    vertical-align: top;
}
.imageParagraph{
    width: 40%;
    display: inline-block;
    margin-bottom: 5%;
    margin-left: 2%;
}
.paragraph{
    width: 50%;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    font-size: 1.2em;
    line-height: 1.5em;
}
.mapImage img{
    display: block;
    margin: auto;
}
footer{
    background: #444C5C;
    margin-left: 0%;
    margin-right: 0%;
}
#footerBottom{
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}
.subtitle{
    padding: 2%;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5%;
    vertical-align: top;
    text-align: center;
}
.contentFooter{
    font-size: 1em;
    margin-bottom: 10%;
    text-align: center;
}
.contentFooter ul li{
    margin-bottom: 5%;
    margin-top: 2%;
    text-align: center;
}
.address{
    width: 24%;
    display: inline-block;
    vertical-align: top;
}
.socialNetworks{
    width: 24%;
    display: inline-block;
    vertical-align: top;
}
.otherThings{
    width: 24%;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.otherThings ul li a:hover{
    text-decoration: underline;
}
.data{
    width: 24%;
    display: inline-block;
    vertical-align: top;
}
#oneColumnFacebook{
    width: 50%;
    display: inline-block;
    cursor: pointer;
}
#oneColumnTwitter{
    width: 48%;
    display: inline-block;
    cursor: pointer;
}
#oneColumnLinkedin{
    width: 50%;
    display: inline-block;
    cursor: pointer;
}
#oneColumnYotube{
    width: 48%;
    display: inline-block;
    cursor: pointer;
}
i footer{
    margin-left: 35%;
    margin-bottom: 10%;
}
#menuBtn{
    display: none;
}

nav label{
    display: none;
}

@media only screen and (max-width: 680px){
    header{
        display: block;
        width: 100%;
    }
    #menuBtn:checked ~.menu{
        margin: 0px;
    }
    nav label{
        display: inline-block;
    }
    nav{
        margin-top: 1%;
        margin-bottom: 1%;
    }
    body{
        width: 100%;
    }
    .menu{
        position: absolute;
        margin-left: -900px;
        width: 50%;
        transition: all 0.4s;
        z-index: 1;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu ul li{
        border-top: 1px solid #FFF;
        padding:8%;
        width: 80%;
    }
    .menu ul li a{
        color: #FFF;
        display: block;
    }
   .centerAllContent{
        margin-left: 0;
        margin-right: 0;
        background: #444C5C;
        width: 100%;
    }
    .firstColumn {
        vertical-align: middle;
        width: 30%;
        display: inline-block;
    }
    .secondColumn{
        width: 60%;
        vertical-align: baseline;
        display: inline-block;
        text-align: right;
    }
    .thirdColumn{
        width: 55%;
        display: block;
        text-align: center;
        float: right;
        margin-top: 3%;
    }
    .thirdColumn ul li{
        display: inline-block;
    }
    .thirdColumn ul li a{
        color: #FFF;
        padding: 10%;
        border-radius: 15%;
    }
    .title{
        font-size: 3em;
        text-align: center;
        margin-top: 20%;
        margin-bottom: 5%;
    }
    .services{
        text-align: center;
    }
    .dangerousResidues{
        width: 100%;
        display: block;
        cursor: pointer;
        font-size: 2em;
        margin-bottom: 10%;
    }
    .specialResidues{
        width: 100%;
        display: block;
        cursor: pointer;
        font-size: 2em;
        margin-bottom: 10%;

    }
    .urbanResidues{
        width: 100%;
        display: block;
        cursor: pointer;
        font-size: 2em;
        margin-bottom: 10%;
    }
    .imageParagraph{
        width: 100%;
        display: block;
        margin-bottom: 5%;
        margin-left: .1%;
    }
    .paragraph{
        width: 100%;
        display: block;
        text-align: justify;
        vertical-align: top;
        margin-left: .1%;
        margin-right: .1%;
        margin-bottom: 5%;
        font-size: 1.3em;
        line-height: 1.5em;
    }
    footer{
        margin-left: 0%;
        margin-right: 0%;
    }
    .subtitle{
        padding: 2%;
        font-size: 1.7em;
        font-weight: bold;
        margin-bottom: 5%;
        vertical-align: text-bottom;
        text-align: center;
    }
    .contentFooter{
        font-size: 1.4em;
        margin-bottom: 10%;
    }
    .contentFooter ul li{
        margin-bottom: 5%;
        margin-top: 2%;
        text-align: center;
    }
    .address{
        width: 100%;
        display: block;
        vertical-align: top;
    }
    .socialNetworks{
        width: 100%;
        display: block;
        vertical-align: top;
    }
    .otherThings{
        width: 100%;
        display: block;
        vertical-align: top;
    }
    .data{
        width: 100%;
        display: block;
        vertical-align: top;
    }
    #oneColumnFacebook{
        width: 50%;
        display: inline-block;
        margin-left: -15%;
        left: 10%;
    }
    #oneColumnTwitter{
        width: 48%;
        display: inline-block;
        margin-left: -15%;
    }
    #oneColumnLinkedin{
        width: 50%;
        display: inline-block;
        margin-left: -15%;
    }
    #oneColumnYotube{
        width: 48%;
        display: inline-block;
        margin-left: -15%;
    }
    i{
        margin-left: 35%;
        margin-bottom: 10%;
        cursor: pointer;
    }
    #menuBtn{
        display: none;
    }
}
