*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
body{
    background: darkblue;
    width: 100%;
    font-family: Arial,Tahoma, sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
header{
    display: inline-block;
    width: 100%;
}
ul li{
    list-style: none;
    text-align: center;
}
.centerAllContent{
    margin-left: auto;
    margin-right: auto;
    background: lightblue;
    width: 60%;
}
.topElements{
    background: white;
}
.firstColumn {
   vertical-align: middle;
    width: 20%;
    display: inline-block;
}
.secondColumn{
    width: 60%;
    vertical-align: middle;
    display: inline-block;
    text-align: right;
}
.thirdColumn{
    width: 19%;
    display: inline-block;
}
.thirdColumn ul li{
    margin-left: 3%;

    display: inline;
    text-align: right;
}
.thirdColumn a{
    background: green;
}
.thirdColumn a:hover{
    background: black;
}
.menu{
    background: purple;
    padding: 3%;
}
.menu ul li{

    display: inline-block;
    vertical-align: middle;
    --margin-left: 7%;
    padding: 1%;
    margin: 3%;
    text-align: center;
}
.menu ul li a{
    padding: 15px;
    --padding-right: 15%;
    border-radius: 10%;
    background: black;
}
.menu ul li a:hover{
    background: orange;
}

.contentAlignMiddle{
    vertical-align: middle;
}
.title{
    font-size: 1.6em;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}
.services{
    text-align: center;
}
.dangerousResidues{
    width: 30%;
    display: inline-block;
    cursor: pointer;
}
.specialResidues{
    width: 30%;
    display: inline-block;
    cursor: pointer;
}
.urbanResidues{
    width: 30%;
    display: inline-block;
    cursor: pointer;
}
.services img{
    border-radius: 50%;
    vertical-align: top;
}
.imageParagraph{
    width: 40%;
    display: inline-block;
    margin-bottom: 5%;
    margin-left: 2%;
}
.paragraph{
    width: 50%;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    font-size: 1em;
}
footer{
    background: gray;
    margin-left: 0%;
    margin-right: 0%;
}
.subtitle{
    font-size: 1.2em;
    margin-bottom: 5%;
    vertical-align: top;
    text-align: center;
}
.contentFooter{
    font-size: 0.8em;
    margin-bottom: 10%;
}
.address{
    width: 24%;
    display: inline-block;
    border: solid 1px;
    
}
.socialNetworks{
    width: 24%;
    display: inline-block;
    border: solid 1px;
}
.otherThings{
    width: 24%;
    display: inline-block;
    border: solid 1px;
}
.data{
    width: 24%;
    display: inline-block;
    border: solid 1px;
}
#oneColumnF{
    width: 50%;
    display: inline-block;
    align-self: center;
}
#oneColumnT{
    width: 48%;
    display: inline-block;
    align-self: center;
}
#oneColumnL{
    width: 50%;
    display: inline-block;
    align-self: center;
}
#oneColumnY{
    width: 48%;
    display: inline-block;
    align-self: center;
}
i{
    margin-left: 35%;
    margin-bottom: 10%;
}
